body {
    background-color: paleturquoise;
}

div {
    position: relative;
    width: 200px;
    height: 64px;
    margin: 50px auto;
    // background-color: pink;
    box-shadow: inset 0 0 0 3px #ffffff;
}

div::after,
div::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    box-sizing: border-box;
    // border: 3px solid red;
    border: 3px solid transparent;
}

.both:hover {
    &::before {
        transition: width .5s, height .5s, border-bottom-color 0s;
        transition-delay: .5s, 0s, .5s;
        width: 200px;
        height: 64px;
        border-left: 3px solid pink;
        border-bottom: 3px solid pink;
    }
    &::after {
        transition: width .5s, height .5s, border-right-color 0s;
        transition-delay: 0s, 0.5s, .5s;
        width: 200px;
        height: 64px;
        border-top: 3px solid pink;
        border-right: 3px solid pink;
    }
}

.cicle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    &::before,
    &::after {
        border-radius: 50%;
    }
    &:hover {
        &::before {
            width: 120px;
            height: 120px;
            border-color: pink;
            transition: border-top-color .25s, border-right-color .25s, border-bottom-color .25s, border-left-color .25s;
            transition-delay: 0s, 0.25s, .5s, .75s;
        }
        &::after {
            width: 120px;
            height: 120px;
            border-top: 3px solid pink;
            transform: rotate(270deg);
            transition: transform 1s;
        }
    }
}

.rectangle {
    &::after {
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
    }
    &:hover {
        color: pink;
        &::before {
            width: 200px;
            height: 64px;
            border-left: 3px solid pink;
            border-bottom: 3px solid pink;
            transition: width .25s, height .25s, border-bottom-color 0s;
            transition-delay: .25s, 0s, .25s;
        }
        &::after {
            width: 200px;
            height: 64px;
            border-top: 3px solid pink;
            border-right: 3px solid pink;
            transition: width .25s, height .25s, border-top-color 0.25s;
            transition-delay: .75s, 0.5s, .75s;
        }
    }
}