body {
    background-color: #03a9f4;
}

@function makelongrightshadow($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 50 {
        $color: fade-out(desaturate($color, 1%), .02);
        $val: #{$val},
        #{$i}px #{$i}px #{$color};
    }
    @return $val;
}

@function makelongleftshadow($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 50 {
        $color: fade-out(desaturate($color, 1%), .02);
        $val: #{$val},
        -#{$i}px #{$i}px #{$color};
    }
    @return $val;
}

div {
    text-align: center;
    font-size: 80px;
    line-height: 200px;
    color: hsl(14, 100%, 60%);
    text-shadow: makelongrightshadow(hsla(14, 100%, 30%, 1));
}

.left {
    color: hsl(231, 50%, 60%);
    text-shadow: makelongleftshadow(hsla(231, 50%, 30%, 1));
}