$bg-normal: 'https://b-gold-cdn.xitu.io/v3/static/img/normal.0447fe9.png';
$bg-username: 'https://b-gold-cdn.xitu.io/v3/static/img/greeting.1415c1c.png';
$bg-password: 'https://b-gold-cdn.xitu.io/v3/static/img/blindfold.58ce423.png';
.g-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

.g-container {
    position: relative;
    width: 318px;
    margin: 100px auto;
    height: 370px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    input {
        outline: none;
        padding: 10px;
        width: 100%;
        border: 1px solid #e9e9e9;
        border-radius: 2px;
        outline: none;
        box-sizing: border-box;
        font-size: 16px;
    }
}

img {
    position: absolute;
    top: -20%;
    left: 50%;
    width: 120px;
    height: 95px;
    transform: translate(-50%, 0);
}

.g-username {
    margin-bottom: 10px;
    img {
        display: none;
        width: 120px;
        height: 113px;
    }
}

.g-username:focus-within~img {
    display: none;
}

.g-username:focus-within {
    input {
        border-color: #007fff;
    }
    img {
        display: block;
    }
}

.g-password {
    margin-bottom: 10px;
    img {
        display: none;
        width: 103px;
        height: 84px;
        top: -15%;
    }
}

.g-password:focus-within~img {
    display: none;
}

.g-password:focus-within {
    input {
        border-color: #007fff;
    }
    img {
        display: block;
    }
}